.container{
    background-color: rgb(245, 245, 243);
}

.card{
    margin-left: 70px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.card-image-top{
    width: 200px;
    height: 100px;
}
.katalog{
    text-align: center;
    color: rgb(172, 131, 105);
    font-size: 70px;
}

